openapi: 3.1.0
info:
  title: The Bakery API
  version: 0.1.0
  description: >-
    The JSON API behind The Bakery: members, guilds, invites, boards and
    tasks. The desktop app (bearer token) and the website (session cookie)
    use the same endpoints. Refusals are
    `{"error": "<sentence>"}`, with `field` added when one field is to blame.
servers:
  - url: https://api.bakery.jevido.app
    description: Production
  - url: https://api.next.bakery.jevido.app
    description: Pre-production (next)
  - url: http://127.0.0.1:4810
    description: Local development (task dev)
security:
  - bearer: []
  - session: []
tags:
  - name: Health
    description: Whether the API is up and can reach its database.
  - name: Identity
    description: >-
      Register, log in and see who you are. Register and login return a JWT to
      send as `Authorization: Bearer <token>`; it lasts 30 days.
  - name: Web sessions
    description: >-
      Sign-in for the website. The token goes into an httpOnly cookie
      `bakery_session` instead of the body. With that cookie, every request
      that changes something must carry the header `X-Bakery-Web: 1`, and so
      must these endpoints; bearer requests do not need it.
  - name: Personal tokens
    description: >-
      Long-lived secrets for tools such as Claude (MCP) or scripts: `bky_`
      followed by 32 characters, sent as `Authorization: Bearer bky_…`. They
      sign in like the member on every endpoint, but cannot list, create or
      revoke tokens themselves; only a session (desktop token or web cookie)
      can.
  - name: Guilds
    description: >-
      Found, list, rename, archive and restore guilds; list, add and remove
      members; leave. An archived guild is hidden from the list and
      read-only (409 on changes) until someone restores it.
  - name: Invites
    description: >-
      Invite links: `<website>/join/<code>`. Members make, list and withdraw
      them; anyone holding a code can look it up; a signed-in member accepts
      it to join. The two code routes allow 30 requests a minute per client.
  - name: Boards
    description: >-
      A guild's boards. Answers 403 when you are not a member of the board's
      guild, 404 when the board does not exist.
  - name: Tasks
    description: >-
      Tasks on a board, and their subtasks. A subtask is a task with a
      `parent_id`: it is not in a column, it is ordered under its parent, and
      it can be ticked off (`done`). Subtasks are one level deep. Answers 403
      when you are not a member of the board's guild, 404 when the task does
      not exist.
  - name: Comments
    description: >-
      Comments on a task, oldest first. Every member of the guild reads and
      writes them; only a comment's author edits or deletes it (403 for
      anyone else). An archived guild's comments can be read, not written.

paths:
  /api/health:
    get:
      tags: [Health]
      summary: Check health
      security: []
      responses:
        "200":
          description: Up, database reachable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
              example: { ok: true }
        "503":
          description: Up, but the database is unreachable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
              example: { ok: false }

  /api/register:
    post:
      tags: [Identity]
      summary: Register
      description: Creates a member and signs them in.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, display_name, password]
              properties:
                email:
                  type: string
                  format: email
                  description: A bare address. Stored trimmed and lowercased; must be unused.
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 60
                password:
                  type: string
                  format: password
                  minLength: 8
            example: { email: ada@bakery.test, display_name: Ada, password: firstlanding }
      responses:
        "201":
          description: Registered and signed in.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Auth" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "422":
          description: >-
            A field needs fixing (`email`, `display_name` or `password`),
            including an email that is already in use.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: an account with this email already exists, field: email }

  /api/login:
    post:
      tags: [Identity]
      summary: Log in
      description: An unknown email and a wrong password get the same answer.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
            example: { email: ada@bakery.test, password: password }
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Auth" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: The email and password do not match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: email or password is incorrect }

  /api/me:
    get:
      tags: [Identity]
      summary: Who you are
      responses:
        "200":
          description: The signed-in member.
          content:
            application/json:
              schema:
                type: object
                required: [member]
                properties:
                  member: { $ref: "#/components/schemas/Member" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/web/register:
    post:
      tags: [Web sessions]
      summary: Register on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, display_name, password]
              properties:
                email: { type: string, format: email }
                display_name: { type: string, minLength: 1, maxLength: 60 }
                password: { type: string, format: password, minLength: 8 }
      responses:
        "201":
          description: Registered; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/MissingWebHeader" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/web/login:
    post:
      tags: [Web sessions]
      summary: Sign in on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Signed in; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: The email and password do not match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: email or password is incorrect }
        "403": { $ref: "#/components/responses/MissingWebHeader" }

  /api/web/logout:
    post:
      tags: [Web sessions]
      summary: Sign out on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      responses:
        "204":
          description: The session cookie is expired.
        "403": { $ref: "#/components/responses/MissingWebHeader" }

  /api/web/handoff:
    post:
      tags: [Web sessions]
      summary: Get a handoff code
      description: >-
        For the desktop app: a one-time code that signs its member in on the
        website. Open `<website>/handoff?code=<code>&next=/admin`; the website
        redeems it. Valid for 60 seconds, once.
      security:
        - bearer: []
      responses:
        "201":
          description: The code.
          content:
            application/json:
              schema:
                type: object
                required: [code, expires_in]
                properties:
                  code: { type: string }
                  expires_in: { type: integer, description: "Seconds." }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/web/handoff/redeem:
    post:
      tags: [Web sessions]
      summary: Redeem a handoff code
      description: Trades a handoff code for a web session.
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Signed in; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "401":
          description: The code is unknown, expired or already used.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: "this sign-in link has expired or was already used; sign in on the website" }
        "403": { $ref: "#/components/responses/MissingWebHeader" }

  /api/tokens:
    get:
      tags: [Personal tokens]
      summary: List your personal tokens
      description: The ones that still work, newest first. Never the secrets.
      responses:
        "200":
          description: Your tokens.
          content:
            application/json:
              schema:
                type: object
                required: [tokens]
                properties:
                  tokens:
                    type: array
                    items: { $ref: "#/components/schemas/PersonalToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
    post:
      tags: [Personal tokens]
      summary: Create a personal token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60 }
            example: { name: laptop claude }
      responses:
        "201":
          description: The token. `token` is the secret, shown this once and never again.
          content:
            application/json:
              schema:
                type: object
                required: [token, personal_token]
                properties:
                  token: { type: string, description: "The secret: `bky_` + 32 characters." }
                  personal_token: { $ref: "#/components/schemas/PersonalToken" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tokens/{token}:
    delete:
      tags: [Personal tokens]
      summary: Revoke a personal token
      description: It stops working at once, on REST and MCP.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Revoked.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
        "404":
          description: You have no token with this id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no such token }

  /api/guilds:
    get:
      tags: [Guilds]
      summary: List your guilds
      description: The guilds you are a member of, by name. Empty when you are in none.
      parameters:
        - name: archived
          in: query
          description: "`1` also lists archived guilds."
          schema: { type: string, enum: ["1"] }
      responses:
        "200":
          description: Your guilds.
          content:
            application/json:
              schema:
                type: object
                required: [guilds]
                properties:
                  guilds:
                    type: array
                    items: { $ref: "#/components/schemas/Guild" }
              example: { guilds: [{ id: 1, name: First Colony }] }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Guilds]
      summary: Found a guild
      description: You become its founder and first member.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
            example: { name: Second Colony }
      responses:
        "201":
          description: Founded.
          content:
            application/json:
              schema:
                type: object
                required: [guild]
                properties:
                  guild: { $ref: "#/components/schemas/Guild" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}:
    get:
      tags: [Guilds]
      summary: Get a guild
      description: One guild you are in, archived or not.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    patch:
      tags: [Guilds]
      summary: Rename a guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}/archive:
    post:
      tags: [Guilds]
      summary: Archive a guild
      description: Hides the guild from lists and makes it read-only. Any member can.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }

  /api/guilds/{guild}/restore:
    post:
      tags: [Guilds]
      summary: Restore an archived guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409":
          description: The guild is not archived.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: this guild is not archived }

  /api/guilds/{guild}/members:
    get:
      tags: [Guilds]
      summary: List a guild's members
      description: Oldest first.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The members.
          content:
            application/json:
              schema:
                type: object
                required: [members]
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      required: [id, display_name, joined_at]
                      properties:
                        id: { type: integer }
                        display_name: { type: string }
                        joined_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Guilds]
      summary: Add a member
      description: Adds an existing member, by email, to a guild you are in.
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
            example: { email: bram@bakery.test }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership:
                    type: object
                    required: [guild_id, member_id]
                    properties:
                      guild_id: { type: integer }
                      member_id: { type: integer }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: You are not a member of this guild, or it does not exist.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: not a member of this guild }
        "409":
          description: Already a member.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: already a member of this guild }
        "422":
          description: No member has this email.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no member with this email, field: email }

  /api/guilds/{guild}/members/{member}:
    delete:
      tags: [Guilds]
      summary: Remove a member
      description: Any member can remove another. Removing yourself is leaving.
      parameters:
        - $ref: "#/components/parameters/Guild"
        - name: member
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Removed.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404":
          description: That member is not in this guild.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no such member in this guild }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/LastMember" }

  /api/guilds/{guild}/leave:
    post:
      tags: [Guilds]
      summary: Leave a guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "204":
          description: You left.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/LastMember" }

  /api/guilds/{guild}/invites:
    get:
      tags: [Invites]
      summary: List a guild's invites
      description: Newest first, with their state.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The invites.
          content:
            application/json:
              schema:
                type: object
                required: [invites]
                properties:
                  invites:
                    type: array
                    items: { $ref: "#/components/schemas/Invite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Invites]
      summary: Make an invite link
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in_hours: { type: [integer, "null"], minimum: 1, maximum: 720, description: "Leave out or null for no end." }
                max_uses: { type: [integer, "null"], minimum: 1, description: "Leave out or null for no limit." }
            example: { expires_in_hours: 168, max_uses: 10 }
      responses:
        "201":
          description: The invite. Its link is `<website>/join/<code>`.
          content:
            application/json:
              schema:
                type: object
                required: [invite]
                properties:
                  invite: { $ref: "#/components/schemas/Invite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}/invites/{invite}:
    delete:
      tags: [Invites]
      summary: Withdraw an invite
      parameters:
        - $ref: "#/components/parameters/Guild"
        - name: invite
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Withdrawn.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/InviteNotFound" }

  /api/invites/{code}:
    get:
      tags: [Invites]
      summary: Look up an invite
      description: Public. Shows which guild the code is for and whether it still works.
      security: []
      parameters:
        - $ref: "#/components/parameters/Code"
      responses:
        "200":
          description: The invite.
          content:
            application/json:
              schema:
                type: object
                required: [invite]
                properties:
                  invite:
                    type: object
                    required: [guild_name, member_count, valid]
                    properties:
                      guild_name: { type: string }
                      member_count: { type: integer }
                      valid: { type: boolean }
                      problem: { type: string, description: "Why it does not work, when valid is false." }
        "404": { $ref: "#/components/responses/InviteNotFound" }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/invites/{code}/accept:
    post:
      tags: [Invites]
      summary: Accept an invite
      description: >-
        Makes the signed-in member a member of the invite's guild. Someone
        already in the guild gets 200 and the invite is not used up.
      parameters:
        - $ref: "#/components/parameters/Code"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/InviteNotFound" }
        "409": { $ref: "#/components/responses/Archived" }
        "410":
          description: The invite was withdrawn, has expired or has been used up.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: this invite has expired }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/guilds/{guild}/boards:
    get:
      tags: [Boards]
      summary: List a guild's boards
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The guild's boards, by name.
          content:
            application/json:
              schema:
                type: object
                required: [boards]
                properties:
                  boards:
                    type: array
                    items: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Boards]
      summary: Create a board
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
            example: { name: Stockpile }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                required: [board]
                properties:
                  board: { $ref: "#/components/schemas/Board" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/boards/{board}:
    get:
      tags: [Boards]
      summary: Get a board
      description: >-
        The board with all four columns in board order, each with its
        top-level tasks in order. Subtasks are not listed; each task carries
        `subtasks_total` and `subtasks_done` instead.
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The board.
          content:
            application/json:
              schema:
                type: object
                required: [board, columns]
                properties:
                  board: { $ref: "#/components/schemas/Board" }
                  columns:
                    type: array
                    items:
                      type: object
                      required: [column, tasks]
                      properties:
                        column: { $ref: "#/components/schemas/Column" }
                        tasks:
                          type: array
                          items: { $ref: "#/components/schemas/Task" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/boards/{board}/tasks:
    post:
      tags: [Tasks]
      summary: Add a task
      description: The task lands at the bottom of Backlog.
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, minLength: 1, maxLength: 200, description: "Trimmed." }
                description: { type: string }
            example: { title: Build a research bench }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}:
    get:
      tags: [Tasks]
      summary: Get a task
      description: >-
        The task with its subtasks in order. Readable in an archived guild
        too.
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "200":
          description: The task.
          content:
            application/json:
              schema:
                type: object
                required: [task, subtasks]
                properties:
                  task: { $ref: "#/components/schemas/Task" }
                  subtasks:
                    type: array
                    items: { $ref: "#/components/schemas/Task" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Tasks]
      summary: Edit a task
      description: >-
        Changes the title and/or description, and ticks a subtask off or on
        with `done`. Leave a field out to keep it. `done` on a task that is
        not a subtask answers 422.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string }
                done: { type: boolean, description: "Subtasks only." }
            example: { title: Build a research bench near the base }
      responses:
        "200":
          description: Changed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Tasks]
      summary: Delete a task
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }

  /api/tasks/{task}/subtasks:
    post:
      tags: [Tasks]
      summary: Add a subtask
      description: Adds one subtask at the end of the task's subtasks. A subtask cannot have subtasks (422).
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
            example: { title: Dig the room }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [subtask]
                properties:
                  subtask: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}/expand:
    post:
      tags: [Tasks]
      summary: Expand a task into subtasks
      description: >-
        Adds 1 to 50 subtasks at the end of the task's subtasks, in the order
        given, all or none. A subtask cannot be expanded (422).
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [titles]
              properties:
                titles:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items: { type: string, minLength: 1, maxLength: 200 }
            example: { titles: [Dig the room, Wall it in, Add a cooler] }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [subtasks]
                properties:
                  subtasks:
                    type: array
                    items: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}/move:
    post:
      tags: [Tasks]
      summary: Move a task
      description: >-
        Puts the task in `column`, right after `after_id` and/or right before
        `before_id`. With neither, it goes to the bottom of the column. Only
        the moved task changes. A subtask moves among the other subtasks of
        its parent the same way; `column` is then ignored and may be left
        out.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                column:
                  $ref: "#/components/schemas/Column"
                  description: Required for a task on the board; ignored for a subtask.
                after_id:
                  type: [integer, "null"]
                  description: A task in that column, other than the moved one.
                before_id:
                  type: [integer, "null"]
                  description: A task in that column, other than the moved one.
            example: { column: todo, before_id: 1 }
      responses:
        "200":
          description: Moved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Another move took the same place at the same moment (try again), or the guild is archived.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: >-
            `column` is not one of the four, or a neighbour is not in that
            column or the two are in the wrong order (`field` is `after_id`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: neighbour must be another task in the target column, field: after_id }

  /api/tasks/{task}/comments:
    get:
      tags: [Comments]
      summary: List a task's comments
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "200":
          description: The comments, oldest first.
          content:
            application/json:
              schema:
                type: object
                required: [comments]
                properties:
                  comments:
                    type: array
                    items: { $ref: "#/components/schemas/Comment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Comments]
      summary: Comment on a task
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CommentBody" }
            example: { body: The freezer needs a second cooler. }
      responses:
        "201":
          description: Written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CommentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/comments/{comment}:
    patch:
      tags: [Comments]
      summary: Edit your comment
      description: Replaces the body and sets `edited_at`. Only the author may (403 otherwise).
      parameters:
        - $ref: "#/components/parameters/Comment"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CommentBody" }
            example: { body: The freezer needs three coolers. }
      responses:
        "200":
          description: Edited.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CommentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of the guild, or not the comment's author.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: only its author can change a comment }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Comments]
      summary: Delete your comment
      description: Only the author may (403 otherwise).
      parameters:
        - $ref: "#/components/parameters/Comment"
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of the guild, or not the comment's author.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: only its author can change a comment }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: The desktop's session JWT, or a personal token (`bky_…`).
    session:
      type: apiKey
      in: cookie
      name: bakery_session

  parameters:
    WebHeader:
      name: X-Bakery-Web
      in: header
      required: true
      schema: { type: string, enum: ["1"] }
    Code:
      name: code
      in: path
      required: true
      schema: { type: string }
    Guild:
      name: guild
      in: path
      required: true
      schema: { type: integer }
    Task:
      name: task
      in: path
      required: true
      schema: { type: integer }
    Comment:
      name: comment
      in: path
      required: true
      schema: { type: integer }

  headers:
    SessionCookie:
      description: "`bakery_session=<token>; Path=/; HttpOnly; SameSite=Lax` (and `Secure` outside local development)."
      schema: { type: string }

  responses:
    TokenCannotManageTokens:
      description: The request signed in with a personal token; only a session can manage tokens.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "personal tokens cannot manage tokens; sign in on the website or the desktop app" }
    InviteNotFound:
      description: No invite has this code (or id in this guild).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: this invite link does not exist }
    TooMany:
      description: More than 30 requests a minute from this client; wait and try again.
    MissingWebHeader:
      description: "A cookie request that changes something came without `X-Bakery-Web: 1`."
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "cookie requests that change something need the X-Bakery-Web header" }
    GuildOK:
      description: The guild.
      content:
        application/json:
          schema:
            type: object
            required: [guild]
            properties:
              guild: { $ref: "#/components/schemas/Guild" }
    Archived:
      description: The guild is archived; restore it first.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "this guild is archived; restore it first" }
    ArchivedBoard:
      description: The board's guild is archived; its boards are read-only.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "this guild is archived; its boards are read-only" }
    LastMember:
      description: The last member cannot leave or be removed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "the last member cannot leave or be removed; archive the guild instead" }
    BadRequest:
      description: The body is not valid JSON.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: request body must be JSON }
    Unauthorized:
      description: No token, or one the API does not accept.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: not signed in }
    NotMember:
      description: You are not a member of this guild.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: not a member of this guild }
    NotFound:
      description: The board or task does not exist.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Invalid:
      description: A field needs fixing; `field` names it.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Health:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string, description: "One short sentence." }
        field: { type: string, description: "The field to blame, when there is one." }
    Member:
      type: object
      required: [id, email, display_name]
      properties:
        id: { type: integer }
        email: { type: string, format: email }
        display_name: { type: string }
    PersonalToken:
      type: object
      required: [id, name, created_at, last_used_at]
      properties:
        id: { type: integer }
        name: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: [string, "null"], format: date-time, description: "Updated at most once a minute." }
    Invite:
      type: object
      required: [id, guild_id, code, created_by, expires_at, max_uses, uses, state]
      properties:
        id: { type: integer }
        guild_id: { type: integer }
        code: { type: string }
        created_by: { type: integer }
        expires_at: { type: [string, "null"], format: date-time }
        max_uses: { type: [integer, "null"] }
        uses: { type: integer }
        state: { type: string, enum: [active, expired, used_up, revoked] }
    MemberResponse:
      type: object
      required: [member]
      properties:
        member: { $ref: "#/components/schemas/Member" }
    Auth:
      type: object
      required: [token, member]
      properties:
        token: { type: string, description: "JWT for `Authorization: Bearer <token>`. Lasts 30 days." }
        member: { $ref: "#/components/schemas/Member" }
      example:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        member: { id: 1, email: ada@bakery.test, display_name: Ada }
    Guild:
      type: object
      required: [id, name, archived]
      properties:
        id: { type: integer }
        name: { type: string }
        archived: { type: boolean }
    Board:
      type: object
      required: [id, guild_id, name]
      properties:
        id: { type: integer }
        guild_id: { type: integer }
        name: { type: string }
    Column:
      type: string
      enum: [backlog, todo, doing, done]
    Task:
      type: object
      required: [id, board_id, parent_id, title, description, position, done]
      properties:
        id: { type: integer }
        board_id: { type: integer }
        parent_id:
          type: [integer, "null"]
          description: The parent task for a subtask; null for a task on the board.
        title: { type: string }
        description: { type: string }
        column:
          $ref: "#/components/schemas/Column"
          description: Where a task stands. Left out for a subtask.
        position: { type: string, description: "A sortable key; clients only need the order." }
        done: { type: boolean, description: "Whether a subtask is ticked off; always false for a task on the board." }
        subtasks_total: { type: integer, description: "On a board's tasks and in GET /api/tasks/{task}: how many subtasks it has." }
        subtasks_done: { type: integer, description: "How many of those are done." }
    TaskResponse:
      type: object
      required: [task]
      properties:
        task: { $ref: "#/components/schemas/Task" }
    Comment:
      type: object
      required: [id, task_id, author_id, author_name, body, created_at, edited_at]
      properties:
        id: { type: integer }
        task_id: { type: integer }
        author_id: { type: integer }
        author_name: { type: string, description: "The author's display name." }
        body: { type: string, description: "Markdown, 1 to 10 000 characters." }
        created_at: { type: string, format: date-time }
        edited_at: { type: [string, "null"], format: date-time }
    CommentResponse:
      type: object
      required: [comment]
      properties:
        comment: { $ref: "#/components/schemas/Comment" }
    CommentBody:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 10000 }
