openapi: 3.1.0
info:
  title: The Bakery API
  version: 1.9.0
  description: >-
    The JSON API behind The Bakery: members, guilds, invites, boards, tasks,
    work types and agents. The desktop app (bearer token) and the website (session cookie)
    use the same endpoints. Refusals are
    `{"error": "<sentence>"}`, with `field` added when one field is to blame.
    A member or a guild under a suspension or a ban is refused with 403 and
    `{"error": "<sentence with the reason>", "code": "account_suspended" |
    "account_banned" | "guild_suspended" | "guild_banned", "until": "<RFC 3339,
    for a suspension>"}` on every endpoint, on sign-in, on the MCP server and
    on the board event stream; a suspended or banned guild is left out of
    `GET /api/guilds`.

    Rate limits: registering (`/api/register`, `/api/web/register`) is
    limited to 5 an hour and signing in (`/api/login`, `/api/web/login`) to
    10 a minute per client IP; a member makes at most 120 changes (POST,
    PATCH, PUT, DELETE) a minute across all endpoints and founds at most 5
    guilds a day; the MCP server takes 300 requests a minute per personal
    token; invite codes 30 lookups a minute per client. Past a limit the API
    answers 429 with a `Retry-After` header (seconds) and `{"error":
    "<sentence>", "code": "rate_limited", "limit": "register" | "login" |
    "writes" | "guild-create" | "mcp" | "invite-codes"}`. Reading is not
    limited per member.
servers:
  - url: https://api.bakery.jevido.app
    description: Production
  - url: https://api.next.bakery.jevido.app
    description: Pre-production (next)
  - url: http://127.0.0.1:4810
    description: Local development (task dev)
security:
  - bearer: []
  - session: []
tags:
  - name: Health
    description: Whether the API is up and can reach its database.
  - name: Identity
    description: >-
      Register, log in and see who you are. Register and login return a JWT to
      send as `Authorization: Bearer <token>`; it lasts 30 days.
  - name: Web sessions
    description: >-
      Sign-in for the website. The token goes into an httpOnly cookie
      `bakery_session` instead of the body. With that cookie, every request
      that changes something must carry the header `X-Bakery-Web: 1`, and so
      must these endpoints; bearer requests do not need it.
  - name: Personal tokens
    description: >-
      Long-lived secrets for tools such as Claude (MCP) or scripts: `bky_`
      followed by 32 characters, sent as `Authorization: Bearer bky_…`. They
      sign in like the member on every endpoint, but cannot list, create or
      revoke tokens themselves; only a session (desktop token or web cookie)
      can.
  - name: Guilds
    description: >-
      Found, list, rename, archive and restore guilds; list, add and remove
      members; leave. An archived guild is hidden from the list and
      read-only (409 on changes) until someone restores it.
  - name: Invites
    description: >-
      Invite links: `<website>/join/<code>`. Members make, list and withdraw
      them; anyone holding a code can look it up; a signed-in member accepts
      it to join. The two code routes allow 30 requests a minute per client.
  - name: Boards
    description: >-
      A guild's boards. Answers 403 when you are not a member of the board's
      guild, 404 when the board does not exist.
  - name: Tasks
    description: >-
      Tasks on a board, and their subtasks. A subtask is a task with a
      `parent_id`: it is not in a column, it is ordered under its parent, and
      it can be ticked off (`done`). Subtasks are one level deep. Answers 403
      when you are not a member of the board's guild, 404 when the task does
      not exist.
  - name: Comments
    description: >-
      Comments on a task, oldest first. Every member of the guild reads and
      writes them; only a comment's author edits or deletes it (403 for
      anyone else). An archived guild's comments can be read, not written.
  - name: Activity
    description: >-
      What happened to a task, newest first. The API writes it from what
      members (and Claude) do; nobody writes it directly. A subtask's
      entries appear on its parent.
  - name: Claims
    description: >-
      An agent's hold on a task, so no other machine starts it. A task has at
      most one active claim; it lasts 2 minutes, a heartbeat extends it, and
      without heartbeats it lapses and the task is free again. Only the
      member who claimed can heartbeat or release. A forbidden task cannot be
      claimed, and a task prioritized for an agent only for that agent.
  - name: Runs
    description: >-
      Runs of agents on tasks. A run happens on a member's own machine (the
      desktop app starts Claude CLI there); the API keeps its record so the
      whole guild sees that a task is being worked and what came of it. A run
      starts `running` and ends once, as `succeeded`, `failed` or `stopped`,
      and only the member who started it ends it. A run still `running`
      after 24 hours reads as `lost`.
  - name: Agents
    description: >-
      A member's roster of configured Claude CLI agents, each with its
      skillset (the files of its `.claude/skills`). Only an agent's owner
      sees it (404 for anyone else). A change replaces the whole agent and
      names the revision it was based on in `If-Match`; a stale revision
      answers 409 with the agent as it is now. Bodies are at most 3 MB.

paths:
  /api/health:
    get:
      tags: [Health]
      summary: Check health
      security: []
      responses:
        "200":
          description: Up, database reachable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
              example: { ok: true }
        "503":
          description: Up, but the database is unreachable.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
              example: { ok: false }

  /api/register:
    post:
      tags: [Identity]
      summary: Register
      description: Creates a member and signs them in.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, display_name, password]
              properties:
                email:
                  type: string
                  format: email
                  description: A bare address. Stored trimmed and lowercased; must be unused.
                display_name:
                  type: string
                  minLength: 1
                  maxLength: 60
                password:
                  type: string
                  format: password
                  minLength: 8
            example: { email: ada@bakery.test, display_name: Ada, password: firstlanding }
      responses:
        "201":
          description: Registered and signed in.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Auth" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "422":
          description: >-
            A field needs fixing (`email`, `display_name` or `password`),
            including an email that is already in use.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: an account with this email already exists, field: email }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/login:
    post:
      tags: [Identity]
      summary: Log in
      description: An unknown email and a wrong password get the same answer.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
            example: { email: ada@bakery.test, password: password }
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Auth" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: The email and password do not match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: email or password is incorrect }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/me:
    get:
      tags: [Identity]
      summary: Who you are
      responses:
        "200":
          description: The signed-in member.
          content:
            application/json:
              schema:
                type: object
                required: [member]
                properties:
                  member: { $ref: "#/components/schemas/Member" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/web/register:
    post:
      tags: [Web sessions]
      summary: Register on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, display_name, password]
              properties:
                email: { type: string, format: email }
                display_name: { type: string, minLength: 1, maxLength: 60 }
                password: { type: string, format: password, minLength: 8 }
      responses:
        "201":
          description: Registered; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/MissingWebHeader" }
        "422": { $ref: "#/components/responses/Invalid" }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/web/login:
    post:
      tags: [Web sessions]
      summary: Sign in on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Signed in; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: The email and password do not match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: email or password is incorrect }
        "403": { $ref: "#/components/responses/MissingWebHeader" }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/web/logout:
    post:
      tags: [Web sessions]
      summary: Sign out on the website
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      responses:
        "204":
          description: The session cookie is expired.
        "403": { $ref: "#/components/responses/MissingWebHeader" }

  /api/web/handoff:
    post:
      tags: [Web sessions]
      summary: Get a handoff code
      description: >-
        For the desktop app: a one-time code that signs its member in on the
        website. Open `<website>/handoff?code=<code>&next=/admin`; the website
        redeems it. Valid for 60 seconds, once.
      security:
        - bearer: []
      responses:
        "201":
          description: The code.
          content:
            application/json:
              schema:
                type: object
                required: [code, expires_in]
                properties:
                  code: { type: string }
                  expires_in: { type: integer, description: "Seconds." }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/web/handoff/redeem:
    post:
      tags: [Web sessions]
      summary: Redeem a handoff code
      description: Trades a handoff code for a web session.
      security: []
      parameters:
        - $ref: "#/components/parameters/WebHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: Signed in; the session cookie is set.
          headers:
            Set-Cookie: { $ref: "#/components/headers/SessionCookie" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MemberResponse" }
        "401":
          description: The code is unknown, expired or already used.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: "this sign-in link has expired or was already used; sign in on the website" }
        "403": { $ref: "#/components/responses/MissingWebHeader" }

  /api/tokens:
    get:
      tags: [Personal tokens]
      summary: List your personal tokens
      description: The ones that still work, newest first. Never the secrets.
      responses:
        "200":
          description: Your tokens.
          content:
            application/json:
              schema:
                type: object
                required: [tokens]
                properties:
                  tokens:
                    type: array
                    items: { $ref: "#/components/schemas/PersonalToken" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
    post:
      tags: [Personal tokens]
      summary: Create a personal token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60 }
            example: { name: laptop claude }
      responses:
        "201":
          description: The token. `token` is the secret, shown this once and never again.
          content:
            application/json:
              schema:
                type: object
                required: [token, personal_token]
                properties:
                  token: { type: string, description: "The secret: `bky_` + 32 characters." }
                  personal_token: { $ref: "#/components/schemas/PersonalToken" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tokens/{token}:
    delete:
      tags: [Personal tokens]
      summary: Revoke a personal token
      description: It stops working at once, on REST and MCP.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Revoked.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/TokenCannotManageTokens" }
        "404":
          description: You have no token with this id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no such token }

  /api/guilds:
    get:
      tags: [Guilds]
      summary: List your guilds
      description: The guilds you are a member of, by name. Empty when you are in none.
      parameters:
        - name: archived
          in: query
          description: "`1` also lists archived guilds."
          schema: { type: string, enum: ["1"] }
      responses:
        "200":
          description: Your guilds.
          content:
            application/json:
              schema:
                type: object
                required: [guilds]
                properties:
                  guilds:
                    type: array
                    items: { $ref: "#/components/schemas/Guild" }
              example: { guilds: [{ id: 1, name: First Colony }] }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Guilds]
      summary: Found a guild
      description: You become its founder and first member.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
            example: { name: Second Colony }
      responses:
        "201":
          description: Founded.
          content:
            application/json:
              schema:
                type: object
                required: [guild]
                properties:
                  guild: { $ref: "#/components/schemas/Guild" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Invalid" }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/guilds/{guild}:
    get:
      tags: [Guilds]
      summary: Get a guild
      description: One guild you are in, archived or not.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    patch:
      tags: [Guilds]
      summary: Rename a guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}/archive:
    post:
      tags: [Guilds]
      summary: Archive a guild
      description: Hides the guild from lists and makes it read-only. Any member can.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }

  /api/guilds/{guild}/restore:
    post:
      tags: [Guilds]
      summary: Restore an archived guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409":
          description: The guild is not archived.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: this guild is not archived }

  /api/guilds/{guild}/members:
    get:
      tags: [Guilds]
      summary: List a guild's members
      description: Oldest first.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The members.
          content:
            application/json:
              schema:
                type: object
                required: [members]
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      required: [id, display_name, joined_at]
                      properties:
                        id: { type: integer }
                        display_name: { type: string }
                        joined_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Guilds]
      summary: Add a member
      description: Adds an existing member, by email, to a guild you are in.
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
            example: { email: bram@bakery.test }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership:
                    type: object
                    required: [guild_id, member_id]
                    properties:
                      guild_id: { type: integer }
                      member_id: { type: integer }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: You are not a member of this guild, or it does not exist.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: not a member of this guild }
        "409":
          description: Already a member.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: already a member of this guild }
        "422":
          description: No member has this email.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no member with this email, field: email }

  /api/guilds/{guild}/members/{member}:
    delete:
      tags: [Guilds]
      summary: Remove a member
      description: Any member can remove another. Removing yourself is leaving.
      parameters:
        - $ref: "#/components/parameters/Guild"
        - name: member
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Removed.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404":
          description: That member is not in this guild.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: no such member in this guild }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/LastMember" }

  /api/guilds/{guild}/leave:
    post:
      tags: [Guilds]
      summary: Leave a guild
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "204":
          description: You left.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/LastMember" }

  /api/guilds/{guild}/invites:
    get:
      tags: [Invites]
      summary: List a guild's invites
      description: Newest first, with their state.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The invites.
          content:
            application/json:
              schema:
                type: object
                required: [invites]
                properties:
                  invites:
                    type: array
                    items: { $ref: "#/components/schemas/Invite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Invites]
      summary: Make an invite link
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_in_hours: { type: [integer, "null"], minimum: 1, maximum: 720, description: "Leave out or null for no end." }
                max_uses: { type: [integer, "null"], minimum: 1, description: "Leave out or null for no limit." }
            example: { expires_in_hours: 168, max_uses: 10 }
      responses:
        "201":
          description: The invite. Its link is `<website>/join/<code>`.
          content:
            application/json:
              schema:
                type: object
                required: [invite]
                properties:
                  invite: { $ref: "#/components/schemas/Invite" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}/invites/{invite}:
    delete:
      tags: [Invites]
      summary: Withdraw an invite
      parameters:
        - $ref: "#/components/parameters/Guild"
        - name: invite
          in: path
          required: true
          schema: { type: integer }
      responses:
        "204":
          description: Withdrawn.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/InviteNotFound" }

  /api/invites/{code}:
    get:
      tags: [Invites]
      summary: Look up an invite
      description: Public. Shows which guild the code is for and whether it still works.
      security: []
      parameters:
        - $ref: "#/components/parameters/Code"
      responses:
        "200":
          description: The invite.
          content:
            application/json:
              schema:
                type: object
                required: [invite]
                properties:
                  invite:
                    type: object
                    required: [guild_name, member_count, valid]
                    properties:
                      guild_name: { type: string }
                      member_count: { type: integer }
                      valid: { type: boolean }
                      problem: { type: string, description: "Why it does not work, when valid is false." }
        "404": { $ref: "#/components/responses/InviteNotFound" }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/invites/{code}/accept:
    post:
      tags: [Invites]
      summary: Accept an invite
      description: >-
        Makes the signed-in member a member of the invite's guild. Someone
        already in the guild gets 200 and the invite is not used up.
      parameters:
        - $ref: "#/components/parameters/Code"
      responses:
        "200": { $ref: "#/components/responses/GuildOK" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/InviteNotFound" }
        "409": { $ref: "#/components/responses/Archived" }
        "410":
          description: The invite was withdrawn, has expired or has been used up.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: this invite has expired }
        "429": { $ref: "#/components/responses/TooMany" }

  /api/guilds/{guild}/boards:
    get:
      tags: [Boards]
      summary: List a guild's boards
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The guild's boards, by name.
          content:
            application/json:
              schema:
                type: object
                required: [boards]
                properties:
                  boards:
                    type: array
                    items: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Boards]
      summary: Create a board
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, description: "Trimmed." }
            example: { name: Stockpile }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                type: object
                required: [board]
                properties:
                  board: { $ref: "#/components/schemas/Board" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/boards/{board}:
    get:
      tags: [Boards]
      summary: Get a board
      description: >-
        The board with its columns left to right, each with its top-level
        tasks in order. Subtasks are not listed; each task carries
        `subtasks_total` and `subtasks_done` instead.
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The board.
          content:
            application/json:
              schema:
                type: object
                required: [board, columns]
                properties:
                  board: { $ref: "#/components/schemas/Board" }
                  columns:
                    type: array
                    description: The board's columns, left to right.
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Column"
                        - type: object
                          required: [tasks]
                          properties:
                            tasks:
                              type: array
                              items: { $ref: "#/components/schemas/Task" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/agent-traits:
    get:
      tags: [Agents]
      summary: List traits and permission modes
      description: The fixed traits an agent can have, which ones conflict, and the permission modes it may run in.
      responses:
        "200":
          description: The lists.
          content:
            application/json:
              schema:
                type: object
                required: [traits, permission_modes]
                properties:
                  traits:
                    type: array
                    items:
                      type: object
                      required: [key, label, description, instruction, conflicts_with]
                      properties:
                        key: { type: string }
                        label: { type: string }
                        description: { type: string }
                        instruction: { type: string, description: "The line this trait adds to the agent's instructions when it runs." }
                        conflicts_with: { type: array, items: { type: string } }
                  permission_modes: { type: array, items: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /api/agents:
    get:
      tags: [Agents]
      summary: List my agents
      description: >-
        Without files. With `since`, every agent changed after that time,
        deleted ones included (`deleted: true`), for syncing.
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: The agents.
          content:
            application/json:
              schema:
                type: object
                required: [agents]
                properties:
                  agents:
                    type: array
                    items: { $ref: "#/components/schemas/Agent" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Invalid" }
    post:
      tags: [Agents]
      summary: Create an agent
      description: >-
        At revision 1. An empty slug is made from the name; an empty portrait
        seed gets a random one.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentWrite" }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413": { description: The body is larger than 3 MB. }
        "422": { $ref: "#/components/responses/AgentInvalid" }

  /api/agents/{agent}:
    parameters:
      - { name: agent, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Agents]
      summary: Get one of my agents
      description: With its files.
      responses:
        "200":
          description: The agent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Agents]
      summary: Replace an agent
      description: >-
        Fields and files, all at once. `If-Match` names the revision the change
        is based on; the answer has the new revision.
      parameters:
        - { name: If-Match, in: header, required: true, schema: { type: integer }, example: 3 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentWrite" }
      responses:
        "200":
          description: Replaced.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AgentStale" }
        "413": { description: The body is larger than 3 MB. }
        "422": { $ref: "#/components/responses/AgentInvalid" }
        "428": { description: No If-Match header. }
    delete:
      tags: [Agents]
      summary: Delete an agent
      description: It stays as a tombstone for `GET /api/agents?since=`, and its slug is free again.
      parameters:
        - { name: If-Match, in: header, required: true, schema: { type: integer } }
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AgentStale" }
        "428": { description: No If-Match header. }

  /api/agents/recruit:
    post:
      tags: [Agents]
      summary: Recruit a shared agent
      description: >-
        Copies an agent shared with the guild into your roster: same fields and
        skillset, you as owner, revision 1, and `origin_agent_id` /
        `origin_revision` set. A slug you already use gets -2, -3, …
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, guild_id]
              properties:
                agent_id: { type: integer }
                guild_id: { type: integer }
                slug: { type: string, description: "Defaults to the original's slug." }
      responses:
        "201":
          description: Your copy.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { description: That agent is not shared with this guild. }

  /api/guilds/{guild}/agents:
    get:
      tags: [Agents]
      summary: List the agents shared with a guild
      description: For its members. No file contents; skills by name and description, and whose each agent is.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The agents.
          content:
            application/json:
              schema:
                type: object
                required: [agents]
                properties:
                  agents:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Agent"
                        - type: object
                          properties:
                            owner_id: { type: integer }
                            owner_name: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }

  /api/agents/{agent}/shares/{guild}:
    parameters:
      - { name: agent, in: path, required: true, schema: { type: integer } }
      - $ref: "#/components/parameters/Guild"
    put:
      tags: [Agents]
      summary: Share an agent with a guild
      description: Your own agent, with a guild you are in. Sharing twice changes nothing. `GET /api/agents/{agent}` lists `shared_with`.
      responses:
        "204": { description: Shared. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Agents]
      summary: Stop sharing an agent
      description: No new recruits; copies already made stay.
      responses:
        "204": { description: Unshared. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/agents/{agent}/origin:
    get:
      tags: [Agents]
      summary: Compare a recruited copy with its original
      parameters:
        - { name: agent, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: >-
            `newer` when the original has changed since the copy last took it;
            `gone: true` once the original is deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  origin_agent_id: { type: integer }
                  gone: { type: boolean }
                  origin_revision: { type: integer }
                  current_revision: { type: integer }
                  newer: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Not your agent, or not a recruited copy. }

  /api/agents/{agent}/pull-origin:
    post:
      tags: [Agents]
      summary: Update a copy from its original
      description: Takes the original's fields and skillset; your own work priorities stay.
      parameters:
        - { name: agent, in: path, required: true, schema: { type: integer } }
        - { name: If-Match, in: header, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Updated.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Not your agent, not a copy, or the original is gone. }
        "409": { $ref: "#/components/responses/AgentStale" }
        "428": { description: No If-Match header. }

  /api/guilds/{guild}/work-types:
    get:
      tags: [Boards]
      summary: List a guild's work types
      description: >-
        In the guild's order. A guild starts with coding, research, writing,
        testing, design, review and ops.
      parameters:
        - $ref: "#/components/parameters/Guild"
      responses:
        "200":
          description: The work types.
          content:
            application/json:
              schema:
                type: object
                required: [work_types]
                properties:
                  work_types:
                    type: array
                    items: { $ref: "#/components/schemas/WorkType" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
    post:
      tags: [Boards]
      summary: Add a work type
      description: At the end of the guild's list.
      parameters:
        - $ref: "#/components/parameters/Guild"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WorkType" }
            example: { key: lore, name: Lore }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WorkTypeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/guilds/{guild}/work-types/{key}:
    patch:
      tags: [Boards]
      summary: Rename or move a work type
      parameters:
        - $ref: "#/components/parameters/Guild"
        - { name: key, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 40 }
                position: { type: integer, minimum: 0, description: "Its new place in the list, from 0." }
            example: { name: Old lore, position: 0 }
      responses:
        "200":
          description: Changed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WorkTypeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Boards]
      summary: Delete a work type
      description: Only while no task has it (409 otherwise).
      parameters:
        - $ref: "#/components/parameters/Guild"
        - { name: key, in: path, required: true, schema: { type: string } }
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Tasks still have this work type, or the guild is archived.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/boards/{board}/columns:
    post:
      tags: [Boards]
      summary: Add a column
      description: Puts a new column at the end of the board.
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ColumnName" }
            example: { name: Review }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ColumnResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/columns/{column}:
    patch:
      tags: [Boards]
      summary: Rename a column
      parameters:
        - $ref: "#/components/parameters/Column"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ColumnName" }
            example: { name: In review }
      responses:
        "200":
          description: Renamed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ColumnResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Boards]
      summary: Delete a column
      description: >-
        Only an empty column can be deleted (422 while tasks stand in it), and
        a board keeps at least one column (422).
      parameters:
        - $ref: "#/components/parameters/Column"
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/columns/{column}/move:
    post:
      tags: [Boards]
      summary: Move a column
      description: >-
        Puts the column right after `after_id` and/or right before
        `before_id` (other columns of the board). With neither, it goes to the
        end.
      parameters:
        - $ref: "#/components/parameters/Column"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                after_id: { type: [integer, "null"] }
                before_id: { type: [integer, "null"] }
            example: { before_id: 4 }
      responses:
        "200":
          description: Moved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ColumnResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/boards/{board}/events:
    get:
      tags: [Boards]
      summary: Watch a board's events
      description: >-
        A server-sent event stream of every change on the board, for members
        of its guild. Each event is `event: <type>` followed by
        `data: <json>` with `{type, board_id, at, actor_id, data}`; `data`
        holds ids and the changed fields only, so refetch the board or task
        when you need more. A `: ping` comment arrives every 20 seconds. The
        stream can end at any time (a deploy, a dropped connection, falling
        too far behind); reconnect after the `retry` delay and refetch the
        board, since missed events are not replayed.


        Types: `task.created` (`task_id`, `column_id`, `position`),
        `task.updated` (`task_id`; `title`/`description` flags for an edit,
        `subtask_id` or `comment_id` when a subtask or comment of the task
        changed), `task.moved` (`task_id`, `from` and `to` column ids,
        `position`), `task.deleted` (`task_id`), `column.created`
        (`column_id`, `name`, `position`), `column.updated` (`column_id`,
        `name`), `column.moved` (`column_id`, `position`), `column.deleted`
        (`column_id`), `task.claimed` (`task_id`, `claim_id`, `agent_id`,
        `member_id`, `expires_at`), `task.released` (`task_id`, `claim_id`),
        `run.started` (`run_id`, `task_id`, `agent_id`,
        `agent_name`), `run.finished` (`run_id`, `task_id`, `agent_name`,
        `status`, `cost_usd`), `presence` (who has the board open: `state` is
        `snapshot`, first on every stream, with the `present` streams, or
        `joined` / `left` with the stream's `conn_id`, `member_id` and, when
        joining, `display_name`; a stream that stops pinging counts as left
        after a minute).
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The stream.
          content:
            text/event-stream:
              schema: { type: string }
              example: |
                retry: 3000

                event: task.moved
                data: {"type":"task.moved","board_id":1,"at":"2026-09-27T20:31:10Z","actor_id":2,"data":{"task_id":6,"from":2,"to":3,"position":"a1"}}

                : ping
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/boards/{board}/tasks:
    post:
      tags: [Tasks]
      summary: Add a task
      description: The task lands at the bottom of the board's first column.
      parameters:
        - name: board
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, minLength: 1, maxLength: 200, description: "Trimmed." }
                description: { type: string }
                work_type: { type: string, description: "A key of the guild's work types (optional)." }
            example: { title: Build a research bench, work_type: coding }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}:
    get:
      tags: [Tasks]
      summary: Get a task
      description: >-
        The task with its subtasks in order. Readable in an archived guild
        too.
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "200":
          description: The task.
          content:
            application/json:
              schema:
                type: object
                required: [task, subtasks]
                properties:
                  task: { $ref: "#/components/schemas/Task" }
                  subtasks:
                    type: array
                    items: { $ref: "#/components/schemas/Task" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Tasks]
      summary: Edit a task
      description: >-
        Changes the title and/or description, and ticks a subtask off or on
        with `done`. Leave a field out to keep it. `done` on a task that is
        not a subtask answers 422.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
                description: { type: string }
                work_type: { type: string, description: "A key of the guild's work types; an empty string clears it." }
                done: { type: boolean, description: "Subtasks only." }
                prioritized_agent_id: { type: integer, description: "Only this agent may claim the task, ahead of its work priorities; 0 clears it. Tasks on the board only." }
                forbidden: { type: boolean, description: "Keep every agent off the task; people still work it. Tasks on the board only." }
            example: { title: Build a research bench near the base }
      responses:
        "200":
          description: Changed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Tasks]
      summary: Delete a task
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }

  /api/tasks/{task}/subtasks:
    post:
      tags: [Tasks]
      summary: Add a subtask
      description: Adds one subtask at the end of the task's subtasks. A subtask cannot have subtasks (422).
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, minLength: 1, maxLength: 200 }
            example: { title: Dig the room }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [subtask]
                properties:
                  subtask: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}/expand:
    post:
      tags: [Tasks]
      summary: Expand a task into subtasks
      description: >-
        Adds 1 to 50 subtasks at the end of the task's subtasks, in the order
        given, all or none: either `titles`, or `subtasks` with a description
        and a work type each. A subtask cannot be expanded (422).
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                titles:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items: { type: string, minLength: 1, maxLength: 200 }
                subtasks:
                  type: array
                  minItems: 1
                  maxItems: 50
                  description: Used instead of titles when given.
                  items:
                    type: object
                    required: [title]
                    properties:
                      title: { type: string, minLength: 1, maxLength: 200 }
                      description: { type: string }
                      work_type: { type: string, description: "A key of the guild's work types." }
            example: { titles: [Dig the room, Wall it in, Add a cooler] }
      responses:
        "201":
          description: Added.
          content:
            application/json:
              schema:
                type: object
                required: [subtasks]
                properties:
                  subtasks:
                    type: array
                    items: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}/move:
    post:
      tags: [Tasks]
      summary: Move a task
      description: >-
        Puts the task in `column`, right after `after_id` and/or right before
        `before_id`. With neither, it goes to the bottom of the column. Only
        the moved task changes. A subtask moves among the other subtasks of
        its parent the same way; `column_id` is then ignored and may be left
        out.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                column_id:
                  type: integer
                  description: >-
                    One of the board's columns. Required for a task on the
                    board (or `column`); ignored for a subtask.
                column:
                  type: string
                  description: >-
                    Instead of `column_id`: a column's name, ignoring case,
                    or one of the keys `backlog`, `todo`, `doing`, `done` for
                    the default columns. Kept for desktop releases up to
                    0.1.3.
                after_id:
                  type: [integer, "null"]
                  description: A task in that column, other than the moved one.
                before_id:
                  type: [integer, "null"]
                  description: A task in that column, other than the moved one.
            example: { column_id: 2, before_id: 1 }
      responses:
        "200":
          description: Moved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Another move took the same place at the same moment (try again), or the guild is archived.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: >-
            `column` is not one of the four, or a neighbour is not in that
            column or the two are in the wrong order (`field` is `after_id`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: neighbour must be another task in the target column, field: after_id }

  /api/tasks/{task}/comments:
    get:
      tags: [Comments]
      summary: List a task's comments
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "200":
          description: The comments, oldest first.
          content:
            application/json:
              schema:
                type: object
                required: [comments]
                properties:
                  comments:
                    type: array
                    items: { $ref: "#/components/schemas/Comment" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Comments]
      summary: Comment on a task
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CommentBody" }
            example: { body: The freezer needs a second cooler. }
      responses:
        "201":
          description: Written.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CommentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }

  /api/tasks/{task}/activity:
    get:
      tags: [Activity]
      summary: List a task's activity
      description: >-
        Newest first, a page at a time: pass the last entry's `id` as
        `before` for the next page. Readable in an archived guild too.
      parameters:
        - $ref: "#/components/parameters/Task"
        - name: before
          in: query
          schema: { type: integer }
          description: Only entries older than this entry id.
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: The entries.
          content:
            application/json:
              schema:
                type: object
                required: [activity]
                properties:
                  activity:
                    type: array
                    items: { $ref: "#/components/schemas/Activity" }
              example:
                activity:
                  - id: 12
                    kind: moved
                    actor_id: 2
                    actor_name: Bram
                    at: "2026-09-27T14:03:00Z"
                    data: { from: todo, to: doing }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/tasks/{task}/claim:
    post:
      tags: [Claims]
      summary: Claim a task
      description: For one of your own agents, from one machine. Tasks on the board only.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, machine_id]
              properties:
                agent_id: { type: integer }
                machine_id: { type: string, minLength: 1, maxLength: 100, description: "Which machine the agent runs on." }
      responses:
        "201":
          description: Claimed for 2 minutes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ClaimResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not a member of the guild, or not one of your agents. }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Another claim holds the task, the task is forbidden or prioritized for another agent, or the guild is archived." }
        "422": { description: "A subtask, or no machine_id." }
  /api/claims/{claim}/heartbeat:
    post:
      tags: [Claims]
      summary: Keep a claim
      description: Extends the claim to 2 minutes from now. Send one every 30 seconds while the agent works.
      parameters:
        - { name: claim, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Kept.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ClaimResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not your claim. }
        "404": { $ref: "#/components/responses/NotFound" }
        "410": { description: The claim lapsed or was released; claim the task again. }
  /api/claims/{claim}:
    delete:
      tags: [Claims]
      summary: Release a claim
      description: The task is free at once. Releasing twice changes nothing.
      parameters:
        - { name: claim, in: path, required: true, schema: { type: integer } }
      responses:
        "204": { description: Released. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not your claim. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/tasks/{task}/runs:
    get:
      tags: [Runs]
      summary: List a task's runs
      description: Newest first, for every member of the guild. Readable in an archived guild too.
      parameters:
        - $ref: "#/components/parameters/Task"
      responses:
        "200":
          description: The runs.
          content:
            application/json:
              schema:
                type: object
                required: [runs]
                properties:
                  runs:
                    type: array
                    items: { $ref: "#/components/schemas/Run" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [Runs]
      summary: Start a run
      description: >-
        Records that the calling member put one of their agents on a task on
        the board (not a subtask). The agent is named by its id and its name
        as it is now; boards keeps both as given.
      parameters:
        - $ref: "#/components/parameters/Task"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, agent_name]
              properties:
                agent_id: { type: integer }
                agent_name: { type: string, minLength: 1, maxLength: 200 }
                kind: { type: string, enum: [work, plan], default: work, description: "plan: the agent proposes subtasks and changes nothing." }
                machine: { type: string, maxLength: 200, description: "Where it runs, e.g. the host name." }
                branch: { type: string, maxLength: 200, example: bakery/12-wall-in-the-freezer }
      responses:
        "201":
          description: The run, `running`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RunResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/NotMember" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Archived" }
        "422": { $ref: "#/components/responses/Invalid" }
  /api/runs/{run}:
    patch:
      tags: [Runs]
      summary: Finish a run
      description: >-
        Ends a running run with its outcome, once. Only the member who
        started it can. The summary is kept to its first 4 000 characters.
      parameters:
        - name: run
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [succeeded, failed, stopped] }
                cost_usd: { type: number, minimum: 0 }
                turns: { type: integer, minimum: 0 }
                summary: { type: string }
                files_changed: { type: integer, minimum: 0 }
                additions: { type: integer, minimum: 0 }
                deletions: { type: integer, minimum: 0 }
            example: { status: succeeded, cost_usd: 0.42, turns: 7, summary: "Walls up; cooler placed.", files_changed: 6, additions: 120, deletions: 14 }
      responses:
        "200":
          description: The run, ended.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RunResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not the member who started the run, or not a member of the guild. }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { description: "The run has already ended, or a field needs fixing (`field` says which)." }

  /api/comments/{comment}:
    patch:
      tags: [Comments]
      summary: Edit your comment
      description: Replaces the body and sets `edited_at`. Only the author may (403 otherwise).
      parameters:
        - $ref: "#/components/parameters/Comment"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CommentBody" }
            example: { body: The freezer needs three coolers. }
      responses:
        "200":
          description: Edited.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CommentResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of the guild, or not the comment's author.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: only its author can change a comment }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }
        "422": { $ref: "#/components/responses/Invalid" }
    delete:
      tags: [Comments]
      summary: Delete your comment
      description: Only the author may (403 otherwise).
      parameters:
        - $ref: "#/components/parameters/Comment"
      responses:
        "204":
          description: Deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a member of the guild, or not the comment's author.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: only its author can change a comment }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/ArchivedBoard" }

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: The desktop's session JWT, or a personal token (`bky_…`).
    session:
      type: apiKey
      in: cookie
      name: bakery_session

  parameters:
    WebHeader:
      name: X-Bakery-Web
      in: header
      required: true
      schema: { type: string, enum: ["1"] }
    Code:
      name: code
      in: path
      required: true
      schema: { type: string }
    Guild:
      name: guild
      in: path
      required: true
      schema: { type: integer }
    Task:
      name: task
      in: path
      required: true
      schema: { type: integer }
    Column:
      name: column
      in: path
      required: true
      schema: { type: integer }
    Comment:
      name: comment
      in: path
      required: true
      schema: { type: integer }

  headers:
    SessionCookie:
      description: "`bakery_session=<token>; Path=/; HttpOnly; SameSite=Lax` (and `Secure` outside local development)."
      schema: { type: string }

  responses:
    AgentStale:
      description: The agent changed since the revision in If-Match; `agent` is how it is now.
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              agent: { $ref: "#/components/schemas/Agent" }
    AgentInvalid:
      description: A field needs fixing; for a skillset problem, `path` names the file.
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              field: { type: string }
              path: { type: string }
          example: { error: "go-tests/: has no SKILL.md", field: files, path: go-tests/ }
    TokenCannotManageTokens:
      description: The request signed in with a personal token; only a session can manage tokens.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "personal tokens cannot manage tokens; sign in on the website or the desktop app" }
    InviteNotFound:
      description: No invite has this code (or id in this guild).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: this invite link does not exist }
    TooMany:
      description: A rate limit was reached; wait the `Retry-After` seconds and try again.
      headers:
        Retry-After:
          description: Seconds until the limit lets a request through again.
          schema: { type: integer }
      content:
        application/json:
          schema:
            type: object
            required: [error, code, limit]
            properties:
              error: { type: string }
              code: { type: string, enum: [rate_limited] }
              limit: { type: string, enum: [register, login, writes, guild-create, mcp, invite-codes] }
          example: { error: Too many requests. Try again in 60 minutes., code: rate_limited, limit: register }
    MissingWebHeader:
      description: "A cookie request that changes something came without `X-Bakery-Web: 1`."
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "cookie requests that change something need the X-Bakery-Web header" }
    GuildOK:
      description: The guild.
      content:
        application/json:
          schema:
            type: object
            required: [guild]
            properties:
              guild: { $ref: "#/components/schemas/Guild" }
    Archived:
      description: The guild is archived; restore it first.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "this guild is archived; restore it first" }
    ArchivedBoard:
      description: The board's guild is archived; its boards are read-only.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "this guild is archived; its boards are read-only" }
    LastMember:
      description: The last member cannot leave or be removed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: "the last member cannot leave or be removed; archive the guild instead" }
    BadRequest:
      description: The body is not valid JSON.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: request body must be JSON }
    Unauthorized:
      description: No token, or one the API does not accept.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: not signed in }
    NotMember:
      description: You are not a member of this guild.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: not a member of this guild }
    NotFound:
      description: The board or task does not exist.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Invalid:
      description: A field needs fixing; `field` names it.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Health:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string, description: "One short sentence." }
        field: { type: string, description: "The field to blame, when there is one." }
    Member:
      type: object
      required: [id, email, display_name]
      properties:
        id: { type: integer }
        email: { type: string, format: email }
        display_name: { type: string }
    PersonalToken:
      type: object
      required: [id, name, created_at, last_used_at]
      properties:
        id: { type: integer }
        name: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: [string, "null"], format: date-time, description: "Updated at most once a minute." }
    Invite:
      type: object
      required: [id, guild_id, code, created_by, expires_at, max_uses, uses, state]
      properties:
        id: { type: integer }
        guild_id: { type: integer }
        code: { type: string }
        created_by: { type: integer }
        expires_at: { type: [string, "null"], format: date-time }
        max_uses: { type: [integer, "null"] }
        uses: { type: integer }
        state: { type: string, enum: [active, expired, used_up, revoked] }
    MemberResponse:
      type: object
      required: [member]
      properties:
        member: { $ref: "#/components/schemas/Member" }
    Auth:
      type: object
      required: [token, member]
      properties:
        token: { type: string, description: "JWT for `Authorization: Bearer <token>`. Lasts 30 days." }
        member: { $ref: "#/components/schemas/Member" }
      example:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        member: { id: 1, email: ada@bakery.test, display_name: Ada }
    Guild:
      type: object
      required: [id, name, archived]
      properties:
        id: { type: integer }
        name: { type: string }
        archived: { type: boolean }
    Board:
      type: object
      required: [id, guild_id, name]
      properties:
        id: { type: integer }
        guild_id: { type: integer }
        name: { type: string }
    Column:
      type: object
      required: [id, name, column]
      description: >-
        A named lane of one board. New boards start with Backlog, To do,
        Doing and Done.
      properties:
        id: { type: integer }
        name: { type: string, minLength: 1, maxLength: 40, description: "Unique on the board, ignoring case." }
        column:
          type: string
          description: >-
            For desktop releases up to 0.1.3: `backlog`, `todo`, `doing` or
            `done` for a column with a default name, else the name.
    AgentWrite:
      type: object
      required: [name]
      properties:
        slug: { type: string, pattern: "^[a-z0-9]+(-[a-z0-9]+)*$", maxLength: 40, description: "Unique among your agents; made from the name when empty." }
        name: { type: string, minLength: 1, maxLength: 40 }
        title: { type: string, maxLength: 60 }
        backstory: { type: string, maxLength: 2000 }
        traits: { type: array, items: { type: string }, description: "Keys from GET /api/agent-traits; conflicting ones are refused." }
        model: { type: string, description: "sonnet (default), opus, haiku or a claude-… model id." }
        permission_mode: { type: string, enum: [manual, acceptEdits, plan, dontAsk, auto], default: manual }
        allowed_tools: { type: array, maxItems: 100, items: { type: string }, example: ["Bash(go test:*)"] }
        portrait_seed: { type: string }
        work_priorities:
          type: object
          additionalProperties: { type: integer, minimum: 1, maximum: 4 }
          description: A work type key mapped to 1 (first) … 4 (last); a missing key is off.
          example: { coding: 1, testing: 2 }
        files:
          type: array
          description: >-
            The skillset: paths under `.claude/skills`, `<skill>/<file…>`. Each
            skill needs a `SKILL.md` whose front matter has `name` (the
            directory's name) and `description`. UTF-8 text; at most 50
            skills, 300 files, 256 KB a file, 2 MB in all.
          items:
            type: object
            required: [path, content]
            properties:
              path: { type: string, example: go-tests/SKILL.md }
              content: { type: string }
    Agent:
      type: object
      required: [id, slug, name, title, backstory, traits, model, permission_mode, allowed_tools, portrait_seed, work_priorities, skills, revision, updated_at, deleted]
      properties:
        id: { type: integer }
        slug: { type: string }
        name: { type: string }
        title: { type: string }
        backstory: { type: string }
        traits: { type: array, items: { type: string } }
        model: { type: string }
        permission_mode: { type: string }
        allowed_tools: { type: array, items: { type: string } }
        portrait_seed: { type: string }
        work_priorities: { type: object, additionalProperties: { type: integer } }
        skills:
          type: array
          description: Name and description of each skill (empty in lists).
          items:
            type: object
            properties:
              name: { type: string }
              description: { type: string }
        revision: { type: integer }
        origin_agent_id: { type: [integer, "null"], description: "Set on a recruited copy." }
        origin_revision: { type: [integer, "null"] }
        updated_at: { type: string, format: date-time }
        deleted: { type: boolean }
        files:
          type: array
          description: Only when getting one agent.
          items:
            type: object
            properties:
              path: { type: string }
              content: { type: string }
              sha256: { type: string }
    AgentResponse:
      type: object
      required: [agent]
      properties:
        agent: { $ref: "#/components/schemas/Agent" }
    WorkType:
      type: object
      required: [key, name]
      properties:
        key: { type: string, pattern: "^[a-z][a-z0-9-]{0,31}$", description: "Unique in the guild; how tasks and agents name it." }
        name: { type: string, minLength: 1, maxLength: 40 }
    WorkTypeResponse:
      type: object
      required: [work_type]
      properties:
        work_type: { $ref: "#/components/schemas/WorkType" }
    ColumnResponse:
      type: object
      required: [column]
      properties:
        column: { $ref: "#/components/schemas/Column" }
    ColumnName:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 40 }
    Task:
      type: object
      required: [id, board_id, parent_id, column_id, title, description, position, done]
      properties:
        id: { type: integer }
        board_id: { type: integer }
        parent_id:
          type: [integer, "null"]
          description: The parent task for a subtask; null for a task on the board.
        title: { type: string }
        description: { type: string }
        column_id:
          type: [integer, "null"]
          description: The column the task stands in; null for a subtask.
        position: { type: string, description: "A sortable key; clients only need the order." }
        done: { type: boolean, description: "Whether a subtask is ticked off; always false for a task on the board." }
        work_type:
          type: [string, "null"]
          description: The key of one of the guild's work types, or null.
        subtasks_total: { type: integer, description: "On a board's tasks and in GET /api/tasks/{task}: how many subtasks it has." }
        subtasks_done: { type: integer, description: "How many of those are done." }
        prioritized_agent_id:
          type: [integer, "null"]
          description: The one agent that may take the task, or null.
        forbidden: { type: boolean, description: "Agents are kept off the task." }
        claim:
          description: "On a board's tasks: the claim holding the task now, left out when none."
          $ref: "#/components/schemas/Claim"
    Claim:
      type: object
      required: [id, agent_id, member_id, machine_id, expires_at]
      properties:
        id: { type: integer }
        agent_id: { type: integer }
        member_id: { type: integer, description: "Whose agent." }
        machine_id: { type: string }
        expires_at: { type: string, format: date-time }
    ClaimResponse:
      type: object
      required: [claim]
      properties:
        claim: { $ref: "#/components/schemas/Claim" }
    TaskResponse:
      type: object
      required: [task]
      properties:
        task: { $ref: "#/components/schemas/Task" }
    Comment:
      type: object
      required: [id, task_id, author_id, author_name, body, created_at, edited_at]
      properties:
        id: { type: integer }
        task_id: { type: integer }
        author_id: { type: integer }
        author_name: { type: string, description: "The author's display name." }
        body: { type: string, description: "Markdown, 1 to 10 000 characters." }
        created_at: { type: string, format: date-time }
        edited_at: { type: [string, "null"], format: date-time }
    Activity:
      type: object
      required: [id, kind, actor_id, actor_name, at, data]
      properties:
        id: { type: integer }
        kind:
          type: string
          enum: [created, edited, moved, commented, subtask_added, subtask_done, run_started, run_finished]
        actor_id: { type: integer, description: "The member who did it." }
        actor_name: { type: string }
        at: { type: string, format: date-time }
        data:
          type: object
          description: >-
            Depends on `kind`. created: `column`. edited: `title` and
            `description`, each true when it changed. moved: `from`, `to`
            (columns). commented: `comment_id`. subtask_added and
            subtask_done: `subtask_id`, `title`. run_started: `run_id`,
            `agent_name`. run_finished: `run_id`, `agent_name`, `status`,
            `cost_usd`.
    Run:
      type: object
      required: [id, task_id, member_id, member_name, agent_id, agent_name, kind, machine, branch, status, started_at, ended_at, cost_usd, turns, summary, files_changed, additions, deletions]
      properties:
        id: { type: integer }
        task_id: { type: integer }
        member_id: { type: integer, description: "Who started it." }
        member_name: { type: string }
        agent_id: { type: integer }
        agent_name: { type: string, description: "The agent's name when the run started." }
        kind: { type: string, enum: [work, plan] }
        machine: { type: string }
        branch: { type: string }
        status: { type: string, enum: [running, succeeded, failed, stopped, lost] }
        started_at: { type: string, format: date-time }
        ended_at: { type: [string, "null"], format: date-time }
        cost_usd: { type: number }
        turns: { type: integer }
        summary: { type: string }
        files_changed: { type: integer }
        additions: { type: integer }
        deletions: { type: integer }
    RunResponse:
      type: object
      required: [run]
      properties:
        run: { $ref: "#/components/schemas/Run" }
    CommentResponse:
      type: object
      required: [comment]
      properties:
        comment: { $ref: "#/components/schemas/Comment" }
    CommentBody:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 10000 }
